@font-face {
    font-family: 'aieset';
    src:    url('/assets/fonts/aieset.eot?d3239g');
    src:    url('/assets/fonts/aieset.eot?d3239g#iefix') format('embedded-opentype'),
        url('/assets/fonts/aieset.ttf?d3239g') format('truetype'),
        url('/assets/fonts/aieset.woff?d3239g') format('woff'),
        url('/assets/fonts/aieset.svg?d3239g#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*="icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'aieset' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-2x"], [class*=" icon-2x"] {
    font-size: 2em;
}

[class^="icon-5x"], [class*=" icon-5x"] {
    font-size: 5em;
}

.icon-aieicons-snowflake:before {
    content: "\e90c";
}
.icon-aieicons-addline-25:before {
    content: "\e900";
}
.icon-aieicons-ctabookappointment:before {
    content: "\e901";
}
.icon-aieicons-calendar-24:before {
    content: "\e902";
}
.icon-aieicons-check:before {
    content: "\e903";
}
.icon-aieicons-honeycomb:before {
    content: "\e904";
}
.icon-aieicons-phone:before {
    content: "\e905";
}
.icon-aieicons-doneicon-09:before {
    content: "\e906";
}
.icon-aieicons-downarrow:before {
    content: "\e907";
}
.icon-aieicons-editbutton:before {
    content: "\e908";
}
.icon-aieicons-email:before {
    content: "\e909";
}
.icon-aieicons-question:before {
    content: "\e90a";
}
.icon-aieicons-facebook:before {
    content: "\e90b";
}
.icon-aieicons-instagram:before {
    content: "\e90d";
}
.icon-aieicons-installation-05:before {
    content: "\e90e";
}
.icon-aieicons-location:before {
    content: "\e90f";
}
.icon-aieicons-clock:before {
    content: "\e910";
}
.icon-aieicons-filledphone:before {
    content: "\e911";
}
.icon-aieicons-quickview-14:before {
    content: "\e912";
}
.icon-aieicons-rightarrow:before {
    content: "\e913";
}
.icon-aieicons-totop:before {
    content: "\e914";
}
.icon-aieicons-search-10:before {
    content: "\e915";
}
.icon-aieicons-troubleshooting-04:before {
    content: "\e916";
}
.icon-aieicons-twitter:before {
    content: "\e917";
}
.icon-aieicons-leftarrow:before {
    content: "\e918";
}
.icon-aieicons-spanner:before {
    content: "\e919";
}
