/*  Main CSS */
* {
    margin: 0;
    padding: 0px;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  background: #fff;
  margin: 0;
  height: 100%;
  color: #808aa3;
  font-family: "proxima-nova",sans-serif;
  font-weight: 400;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
header {
  z-index: 1000;
}
main {
  flex: 1 0 auto;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'proxima-nova', sans-serif;
}
p {
    padding: 0;
    margin-bottom: 12px;
    font-family: 'proxima-nova', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #808aa3;
    margin-top: 10px;
}
/* img {
    height: auto;
    max-width: 100%;
} */

label.error {
    display: none !important;
}
a {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #f06464;
    -webkit-transition: background-color .4s linear, color .4s linear;
    -moz-transition: background-color .4s linear, color .4s linear;
    -o-transition: background-color .4s linear, color .4s linear;
    -ms-transition: background-color .4s linear, color .4s linear;
    transition: background-color .4s linear, color .4s linear;
}

a:hover, a:focus {
  text-decoration: none;
  color: #3d9ff9;
}

.side-nav a.btn-link {
  margin: 10px;
}

:: -moz-selection {
    color: #fff;
    text-shadow: none;
    background: #2B2E31;
}
:: selection {
    color: #fff;
    text-shadow: none;
    background: #2B2E31;
}
.tleft {
  text-align: left;
}
.tright {
  text-align: right;
}
.tcenter {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.center {
  text-align: center;
}
.clearfix:after {
  content:"";
  display:block;
  clear:both;
}
.lightblue-theme-bg {
  background-color: #3d9ff9 !important;
}
.grey-theme-bg {
  background-color: #808aa3 !important;
}
.grey-theme-text {
  color: #808aa3 !important;
}
.blue-theme-text {
  color: #2f3080 !important;
}
.lightblue-theme-text {
  color: #3d9ff9 !important;
}

/*  ################################################################
    BOOTSTRAP MODIFICATIONS & TWEAKS
################################################################# */
.mtb80 {
    margin-top: 80px;
    margin-bottom: 80px;
}
.mtb100 {
    margin-top: 100px;
    margin-bottom: 100px;
}
.mtop0 {
  margin-top: 0;
}
.mtop10 {
    margin-top: 10px;
}
.mtop20 {
    margin-top: 20px;
}
.mtop30 {
    margin-top: 30px;
}
.mtop40 {
    margin-top: 40px;
}
.mtop50 {
    margin-top: 50px;
}
.mtop70 {
  margin-top: 70px;
}
.mtop100 {
    margin-top: 100px;
}
.mtop200 {
    margin-top: 200px;
}
.mbtm10 {
    margin-bottom: 10px;
}
.mbtm20 {
    margin-bottom: 20px;
}
.mbtm30 {
    margin-bottom: 30px;
}
.mbtm50 {
    margin-bottom: 50px;
}
.mbtm60 {
    margin-bottom: 60px;
}
.mleft30 {
  margin-left: 30px;
}
.full-width {
    width: 100%;
}
.full-height {
    height: 100%;
}
.hline {
    border-bottom: 2px solid #2C2C2C;
}
.hline-w {
    border-bottom: 2px solid #ffffff;
    margin-bottom: 25px;
}
.carousel-indicators {
    top: 70px;
}
.carousel-indicators li {
    height: 20px;
    width: 20px;
    background-color: #808080;
}
.carousel-indicators .active {
    height: 20px;
    width: 20px;
    border: 4px solid #f66153;
    background-color: transparent;
}
.dropdown-content li {
  color: #808aa3;
}
.dropdown-content li > span {
  color: #808aa3;
}
.verticalline {
  position: absolute;
  width: 2px;
  background-color: black;
  height: 20px;
  margin-top: -15px;
}
.no-margin {
  margin: 0;
}
.no-shadow {
  box-shadow: none;
}
.bottom-shadow {
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.16),0 5px 10px 0 rgba(0,0,0,0.12)
}
.desktop-only {
  display: none;
}

/* Everything Else */
.top-bar {
  height: 60px;
  background-color: #fff;
}
.top-bar ul {
  line-height: 60px;
}
.top-bar ul .dropdown-content {
  width: 100%;
}
.top-bar ul .dropdown-content li {
  margin: 0;
}
.top-bar ul li {
  display: inline-block;
  margin: 0 10px;
  position: relative;
}
.top-bar ul li a {
  font-weight: 600;
  color: #2f3080;
}
.top-bar ul i {
  color: #2f3080;
}
.top-bar ul li .btn-border:hover, .top-bar ul li .btn-border:focus {
  color: #fff;
}
.top-bar ul li a:hover, .top-bar ul li a:focus {
  color: #3d9ff9;
}
nav {
  background-color: #fff;
  height: 70px;
}
nav a {
  color: #000;
}
nav .logo {
    position: relative;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}
nav .logo img {
  max-height: 60px;
}
nav ul {
  line-height: 85px;
}
nav ul li a {
  color: #2f3080;
  font-size: 1em;
  text-transform: uppercase;
}
nav ul li a:hover {
  background-color: transparent;
}
nav ul li.active {
  background-color: transparent;
}
nav ul li.active a {
  border-bottom: 5px solid #f06464;
}
header {
}
footer.page-footer {
  margin-top: 0;
}
.btn {
  color: #000;
}
.vflip {
  -moz-transform: scale(1, -1);
  -webkit-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}
.hflip {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}



/* Main Page */
.hero {
  color: #fff;
  min-height: 720px;
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000;
  margin-top: -190px;
}

.hero p {
  font-size: 1.5em;
}

.hero .header-img {
  width: 100%;
  height: 720px;
  background-position: center;
  background-size: cover;
}

.hero-text {
  position: absolute;
  text-align: center;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 45%;
}

.hero-text h1 {
  font-weight: 700;
}

.hero-text p {
  font-family: Arial, sans-serif;
}

.hero-downwards {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align:center;
  margin-bottom: 20px;
}

.hero .owl-dots {
  position: absolute;
  right: 0;
  margin-right: 50px;
  bottom: 0;
  margin-bottom: 30px;
}

.hero .owl-theme .owl-dots .owl-dot span {
  background: #676767;
  margin: 5px 2.5px;
}

.hero .owl-theme .owl-dots .owl-dot.active span, .hero .owl-theme .owl-dots .owl-dot:hover span {
  background: #3D9FF9;
}

.hero .owl-carousel .owl-item img {
  min-height: 720px;
  object-fit: cover;
}

.hero-item-blank {
  background: #fff;
  background-position: center;
  text-align: center;
  padding: 30px;
}

.hero-item-blank .item-text h3{
  color: #828284;
  text-transform: uppercase;
}

.hero-item-blank .item-text p {
  color: #3D9FF9;
  text-transform: uppercase;
  font-size: 1.2em;
}

.hero-item-blank .owl-carousel .owl-item img {
  max-height: 100%;
  height: 150px;
  display: block;
  width: 100%;
}

.hero-item-blank .owl-carousel .owl-item i {
  font-size: 5.5em;
}

.hero-item-blank .item h5 {
  color: #828284;
  font-weight: 300;
  text-transform: uppercase;
  padding-top: 20px;
}

.hero-item-blank .item p {
  color: #3D9FF9;
  font-family: Arial, sans-serif;
}

.hero-item-blank .item i {
  font-size: 4.5em;
}

.hero-item-blank .item-text-small {
  padding: 0 50px;
}
.hero-item-blank .item-text-small h5 {
  margin: 30px 15px;
}
.hero-item-blank .item-text-small .description {
  font-size: 1.1em;
  margin-bottom: 30px;
}
.hero-item-blank .item-text-small p {
  font-size: 1.2em;
}

.hero-item-blank .btn-border {
  border: 2px solid #bdbdbd;
  color: #757575;
}

.hero-item-blank-signup {
  padding: 20px;
}

.hero-item-blank .owl-dots {
  margin: 30px 0;
}

.hero-item-blank .owl-theme .owl-dots .owl-dot span {
  background: transparent;
  border: 2px solid #676767;
  margin: 5px 2.5px;
}

.hero-item-blank .owl-theme .owl-dots .owl-dot.active span, .hero-item-blank .owl-theme .owl-dots .owl-dot:hover span {
  background: #3D9FF9;
  border: none;
}

.hero-item-blank .owl-carousel .owl-nav .owl-prev {
  position: absolute;
  font-size: 3em;
}

.hero-item-blank .owl-carousel .owl-nav .owl-next {
  position: absolute;
  font-size: 3em;
}

.hero-item-blank #owl-services .owl-nav .owl-prev {
  top: 60px;
  left: -60px;
}

.hero-item-blank #owl-services .owl-nav .owl-next {
  top: 60px;
  right: -60px;
}

.hero-item-blank #owl-clients .owl-nav .owl-prev {
  top: 75px;
  left: -120px;
}

.hero-item-blank #owl-clients .owl-nav .owl-next {
  top: 75px;
  right: -120px;
}

#owl-item {
  padding-top: 30px;
}

#owl-clients {
  padding-top: 30px;
}

.hero-item-1 {
  position: relative;
  background-position: center;
  text-align: center;
}

.hero-item-1 .parallax-container {
  min-height: 500px;
  height: auto;
}

.hero-item-1 h3 {
  margin: 0;
  padding-top: 50px;
  text-transform: uppercase;
  color: #fff;
}

.hero-item-1 .item h4 {
  color: #fff;
}
.hero-item-1 .item hr {
  border: 3px solid #fff;
  width: 60px;
  margin: 0 auto;
}
.hero-item-1 .item p {
  color: #fff;
  font-size: 1.1em;
  font-weight: 300;
  margin-top: 15px;
}

.hero-item-2 {
  position: relative;
  background-position: center;
  text-align: center;
}

.hero-item-2 .parallax-content-container {
  position: absolute;
  top: 0;
  width: 100%;
  margin-top: 80px;
}

.hero-item-2 h1 {
  margin: 0;
  padding-top: 50px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
}

.hero-item-2 h4 {
  margin: 0;
  color: #fff;
  padding-top: 10px;
  font-family: Arial, sans-serif;
}

.hero-item-2-learnmore {
  margin-top: 70px;
}

.hero-item-2-learnmore .btn-border {
  border: 2px solid #fff;
  color: #fff;
}

/* About Page */
.about-header-img {
  background: linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.4)),url(/assets/img/about/about-banner.jpg);
}

.hero-item-blank.projects .owl-carousel .owl-item img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.hero-item-blank.projects .item .project-title {
  margin: 50px 0;
  text-transform: uppercase;
}

.hero-item-blank.projects .item {
  background-color: #676767;
}

.hero-item-blank.projects .item .project-text {
}

.hero-item-blank.projects .item .item-subtext {
  font-size: 1.5em;
  font-family: proxima-nova, sans-serif;
  font-weight: 300;
}

/* Services Page */
.services-header-img {
  background: linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.4)),url(/assets/img/services/services-banner.jpg);
}

.service-sidebar a:hover .service-single {
  background-color: #3d9ff9;
}

.service-sidebar a:hover .service-single p {
  color: #fff;
}

.service-single {
  border-bottom: 1px solid #828284;
  position: relative;
  padding: 5px 10px;
}

.service-single img {
  max-width: 50px;
  margin-right: 13px;
  vertical-align: middle;
}

.service-single p {
  color: #828284;
  font-size: 1.1em;
  display: inline-block;
}

.grayscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.appointment-cta {
  border: 1px solid #828284;
}

.appointment-cta .cta-container {
  width: 100%;
}

.appointment-cta .cta-header {
  color: #828284;
  font-size: 1.2em;
  font-weight: 300;
  text-align: center;
}

.appointment-cta .cta-book {
  text-align: center;
  margin-top: 20px;
  color: #828284;
  font-size: 1em;
}

.appointment-cta a {
  display: table;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 50px;
  padding: 10px 30px;
}

.appointment-cta i {
  display: block;
  text-align: center;
  font-size: 3.5em;
  margin: 60px 0;
}

.service-content .wrapper .header img {
  max-width: 40px;
  vertical-align: middle;
}

.service-content .wrapper .header h4 {
  display: inline-block;
}

.service-content .wrapper .body {
  margin-left: 20px;
  margin-top: 20px;
}

.service-content .wrapper .body img {
  max-width: 100%;
}

.service-content .wrapper .body .table .full-border {
  border: 1px solid #828284;
  padding: 20px;
}

.service-content .wrapper .body .table .border-left-none {
  border-left: none;
}

.service-content .wrapper .body .table .border-right-none {
  border-right: none;
}

.service-content .wrapper .body .table .border-top-none {
  border-top: none;
}

.service-content .wrapper .body .table .border-bottom-none {
  border-bottom: none;
}

.service-content .wrapper .body .table .bottom-border {
  border-bottom: 1px solid #828284;
  padding: 20px;
}

.service-content .wrapper .body .scope ul li {
  padding: 10px 0;
  color: #828284;
}

.service-content .wrapper .body .scope ul li i {
  margin-right: 10px;
}

/* Packages Page */
.blank-hero .hero-text {
  margin-top: 80px;
}

.blank-hero {
  color: #fff;
  min-height: 380px;
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #fff;
  margin-top: -190px;
}

.blank-hero .hero-text p {
  font-family: Arial, sans-serif;
  font-size: 1.2em;
}

.packages-item-container {
  background: #fff;
  width: 100%;
  border-top: 1px solid #828284;
  padding-top: 30px;
}

.package-item {
  border: 1px solid #828284;
  padding: 40px 70px;
  cursor: pointer;
  max-width: 430px;
  margin: 0 auto;
}

.package-item:hover {
  background-color: #3d9ff9;
}

.package-item:hover p {
  color: #fff;
}

.package-item p {
  color: #828284;
  font-size: 1.5em;
}

.package-item .item-header {
  color: #3d9ff9;
}
.packages-cta-container ul {
  margin: 30px;
}
.packages-cta-container ul li {
  list-style-type: disc;
  color: #828284;
}
.packages-cta-container .btn {
  margin: 0 auto;
  padding: 10px 80px;
  line-height: 0;
  text-transform: uppercase;
}

/* Materials Page */
.materials-header-img {
  background: linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.4)),url(/assets/img/materials/materials-banner.jpg);
}

.materials-cta-container ul {
  display: table;
  width: 100%;
}

.materials-cta-container ul li {
  display: table-cell;
  width: 11%;
}

.materials-cta-container ul li img {
  display: block;
  margin: 0 auto;
}

.materials-cta-container p {
  text-align: center;
}

.materials-items-container .item-point .point-content {
  display: inline-block;
  margin-left: 20px;
}
.materials-items-container .item-point .point-content .point-header {
  color: #828284;
}
.materials-items-container .item-point .point-content .point-body {
  color: #3d9ff9;
}

.single-material-item.subsequent {
  border-top: 1px solid #828284;
  padding-top: 50px;
}

.single-material-item .item-point {
  padding-top: 30px;
}

.single-material-item .item-point i {
  font-size: 3em;
  position: absolute;
}

.single-material-item .item-point i {
  font-size: 3em;
  position: absolute;
}

.single-material-item .item-point .point-content p {
  margin: 0;
  margin-left: 30px;
}

.single-material-item .progress {
  background-color: transparent;
  height: 35px;
  border-radius: 0;
}

.single-material-item .progress .determinate {
  color: #fff;
  text-align: right;
  padding-right: 20px;
  line-height: 35px;
  width: 0%;
}

.single-material-item .owl-carousel .owl-item img {
  padding: 30px;
}

.single-material-item .owl-theme .owl-dots .owl-dot span {
  background: transparent;
  border: 2px solid #676767;
  margin: 5px 2.5px;
}

.single-material-item .owl-theme .owl-dots .owl-dot.active span, .single-material-item .owl-theme .owl-dots .owl-dot:hover span {
  background: #3D9FF9;
  border: none;
}

/* Booking Page */
.stage-bar {
  margin: 40px auto;
}

/* Accent Colors*/
.btn {
  font-weight: 300;
}
.btn-border {
  border: 2px solid #2f3080;
  padding: 8px 30px;
}
.btn-border:hover, .btn-border:focus {
  color: #fff;
  background-color: #3d9ff9;
  border: 2px solid #fff;
}
.btn-theme{
  color: #fff;
  background-color: #f06464;
  text-transform: none;
  box-shadow: none;
}
.btn-theme:hover, .btn-theme:focus {
  color: #fff;
  background-color: #f06464;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
}
.btn-floating-theme{
  color: #fff;
  background-color: #3d9ff9;
  text-transform: none;
  box-shadow: none;
}
.btn-floating-theme:hover, .btn-floating-theme:focus {
  color: #fff;
  background-color: #3d9ff9;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
}
.btn-table-fat {
  display: table;
  padding-top: 5px;
  padding-bottom: 5px;
}
.btn-table-fat:hover, .btn-table-fat:focus {
  color: #fff;
  background-color: #f06464;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
}
.btn-fat {
  padding-top: 5px;
  padding-bottom: 40px;
}
.btn-fat:hover, .btn-fat:focus {
  color: #fff;
  background-color: #f06464;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
}
.btn-link-fat {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
}
.btn-link-fat:hover, .btn-link-fat:focus {
  color: #fff;
  background-color: #f06464;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
}
.link-minimal {
  background-color: #ffd600;
  display: inline-block;
  padding: 0 10px;
  line-height: 30px;
  border-radius: 2px;
  text-align: center;
}
textarea.materialize-textarea {
  border: 1px solid #808aa3;
  padding-top: 10px;
  padding-left: 10px;
  max-width: calc(100% - 12px);
}

.select-wrapper.input-select-border input {
  border: 1px solid #808aa3;
  padding: 0px 10px;
  max-width: calc(100% - 22px);
  color: rgba(0, 0, 0, 0.26);
}

.select-wrapper i {
  font-size: 1.6em;
}

.select-wrapper span {
  color: #808aa3;
}

.select-wrapper span.caret {
  right: 10px;
}

.select-wrapper.valid {
  background-color: #c3ffc5;
}

.select-wrapper.invalid {
  background-color: #ffdedc;
}

input.input-box {
  border: 1px solid #808aa3;
  padding-left: 10px;
  max-width: calc(100% - 12px);
}

input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #808aa3;
  box-shadow: none;
  background-color: #f7f7f7;
}

input:not([type]).valid, input:not([type]):focus.valid, input[type=text].valid, input[type=text]:focus.valid, input[type=password].valid, input[type=password]:focus.valid, input[type=email].valid, input[type=email]:focus.valid, input[type=url].valid, input[type=url]:focus.valid, input[type=time].valid, input[type=time]:focus.valid, input[type=date].valid, input[type=date]:focus.valid, input[type=datetime].valid, input[type=datetime]:focus.valid, input[type=datetime-local].valid, input[type=datetime-local]:focus.valid, input[type=tel].valid, input[type=tel]:focus.valid, input[type=number].valid, input[type=number]:focus.valid, input[type=search].valid, input[type=search]:focus.valid, textarea.materialize-textarea.valid, textarea.materialize-textarea:focus.valid {
  border-bottom: 1px solid #808aa3;
  box-shadow: none;
  background-color: #c3ffc5;
}

input:not([type]).invalid, input:not([type]):focus.invalid, input[type=text].invalid, input[type=text]:focus.invalid, input[type=password].invalid, input[type=password]:focus.invalid, input[type=email].invalid, input[type=email]:focus.invalid, input[type=url].invalid, input[type=url]:focus.invalid, input[type=time].invalid, input[type=time]:focus.invalid, input[type=date].invalid, input[type=date]:focus.invalid, input[type=datetime].invalid, input[type=datetime]:focus.invalid, input[type=datetime-local].invalid, input[type=datetime-local]:focus.invalid, input[type=tel].invalid, input[type=tel]:focus.invalid, input[type=number].invalid, input[type=number]:focus.invalid, input[type=search].invalid, input[type=search]:focus.invalid, textarea.materialize-textarea.invalid, textarea.materialize-textarea:focus.invalid {
  border-bottom: 1px solid #808aa3;
  box-shadow: none;
  background-color: #ffdedc;
}

.rbtn-toggle {
  text-align: center;
}

.rbtn-toggle p {
  display: inline-block;
  width: 50%;
}

.rbtn-toggle p:first-child {
  margin-right: -4px;
}

.rbtn-toggle p:first-child >  [type="radio"]:not(:checked) + label {
  border: 1px solid #808aa3;
}

.rbtn-toggle p:first-child >  [type="radio"]:checked + label {
  border: 1px solid #3d9ff9;
}

[type="radio"] + label:before, [type="radio"] + label:after {
  display: none;
}

[type="radio"]:checked + label, [type="radio"].with-gap:checked + label {
  background-color: #3d9ff9;
}

[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:after {
  background-color: #3d9ff9;
  z-index: 0;
}

[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:before, [type="radio"].with-gap:checked + label:after {
  border: 2px solid #000;
}

[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:before, [type="radio"].with-gap:checked + label:after {
  border: 2px solid #000;
}

[type="radio"] + label {
  display: block;
  border-left: none;
  line-height: 1px;
  font-size: 1.2em;
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

[type="radio"]:not(:checked) + label {
  border: 1px solid #808aa3;
  text-transform: uppercase;
  color: #808aa3;
  padding-left: 0;
  line-height: 0;
}

[type="radio"]:checked + label {
  border: 1px solid #3d9ff9;
  text-transform: uppercase;
  color: #fff;
  padding-left: 0;
  line-height: 0;
}

/* Footer */
footer.page-footer {
    background-color: #616161;
}
footer.page-footer .footer-main {
  padding: 20px;
  min-height: 250px;
}
footer.page-footer .footer-main h5 {
  color: #fff;
  padding-bottom: 20px;
}
footer.page-footer .footer-main p {
  color: #fff;
  padding-bottom: 20px;
}
footer.page-footer .footer-main p img {
  max-height: 150px;
  max-width: 100%;
}
footer.page-footer .footer-main ul li {
  padding: 13px 0;
}

footer.page-footer .footer-main ul li a {
  color: #fff;
  font-weight: 300;
}
footer.page-footer .footer-main ul li a:hover, footer.page-footer .footer-main ul li a:focus {
  color: #3d9ff9;
}
footer.page-footer .footer-main .sitemap {
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #fff;
}

footer.page-footer .footer-main .sitemap ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

footer.page-footer .footer-main .sitemap ul li {
  text-transform: uppercase;
}

footer.page-footer .footer-main .social {
  text-align: center;
  padding: 50px 0;
  border-bottom: 1px solid #fff;
}

footer.page-footer .footer-main .social ul {
  margin-top: 50px;
}

footer.page-footer .footer-main .social ul li {
  display: inline-block;
  padding: 0 5px;
}

footer.page-footer .footer-main .social ul li i {
  color: #fff;
  font-size: 2em;
  padding: 10px;
  border: 2px solid #fff;
}

footer.page-footer .footer-main .social ul li a {
  border: 2px solid #fff;
  font-size: 2em;
  padding: 5px 10px;
}

footer.page-footer .footer-main .details {
  padding-top: 30px;
}

footer.page-footer .footer-main .details ul li {
  margin-left: 25%;
}

footer.page-footer .footer-main .details ul li i {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: .25em;
  font-size: 2em;
  position: absolute;
}

footer.page-footer .footer-main .details ul li p {
  padding: 0;
  margin: 0;
  margin-left: 60px;
  text-align: left;
}

footer.page-footer .footer-main .details ul li .content {
  display: inline-block;
}

footer.page-footer .footer-main .details ul li .item-wrapper{
}

footer.page-footer .footer-main .details li img {
  max-height: 50px;
  display: inline-block;
}
footer.page-footer .footer-copyright {
  border-top: 1px solid #fff;
  margin: 0 15px;
  background-color: #616161;
  position: relative;
  padding-top: 5px;
  height: auto;
}
footer.page-footer .footer-copyright p {
  color: #fff;
}
footer.page-footer .footer-copyright ul li {
  display: block;
  line-height: 35px;
}
footer.page-footer .footer-copyright ul li a{
  color: #fff;
}
footer.page-footer .footer-copyright ul li a:hover, footer.page-footer .footer-copyright ul li a:focus {
  color: #3d9ff9;
}
.toast.success, .alt-badge.success {
  background-color: #00c853;
}

.toast.error, .alt-badge.error {
  background-color: #d50000;
}

.toast.warning, .alt-badge.warning {
  background-color: #ffab00;
}

.toast.info, .alt-badge.info {
  background-color: #0091ea;
}

.picker__weekday-display {
  background-color: #3d9ff9;
}
.picker__date-display {
  background-color: #3d9ff9;
}
.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
  background-color: #2f3080;
}
.picker__close, .picker__today {
  color: #f06464;
}
.picker__day.picker__day--today {
  color: #f06464;
}
.picker__day--infocus {
  color: #2f3080;
}
.picker__day--infocus:hover {
  color: #f06464;
}
.picker__footer .picker__clear {
  color: #2f3080;
}
.picker__footer .picker__clear:hover {
  color: #f06464;
}

button.picker__today:focus, button.picker__clear:focus, button.picker__close:focus {
  background-color: #E0F6FF;
}
.picker__nav--prev:hover, .picker__nav--next:hover {
  background: #E0F6FF;
}

/* FAQ */ 
.faq-header{
  color: #3d9ff9;
  text-align: center;
  font-weight: 300;
}
#more-questions {
  width: 600px;
  max-width: 100%;
}

#more-questions .modal-header{
  background-color: #3D9FF9;
  text-align: center;
  padding: 50px;
}
#more-questions .modal-header i {
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 0.5em;
  font-size: 3em;
  color: #fff;
}
#more-questions .modal-header #exit-modal {
  position: absolute;
  right: 20px;
  font-size: 2em;
  color: #fff;
  border: none;
  top: 10px;
}
#more-questions .btn-theme.full-width {
  padding: 25px;
  line-height: 0;
  font-weight: 300;
  margin: 10px 0;
}
.faq-container .collapsible-header {
  min-height: 6rem;
  line-height: 6rem;
  padding: 0 3rem;
  border-bottom: 2px solid #808aa3;
}
.faq-container .collapsible-body p {
  padding: 3rem;
}
.faq-container .collapsible-header i {
  width: 2rem;
  font-size: 1.6rem;
  line-height: 6rem;
  display: block;
  float: right;
  text-align: center;
  margin-right: 1rem;
}
.faq-container .totop-link {
  text-align: center;
  margin: 50px 0;
}
.faq-container .totop-link i {
  border: 2px solid #808aa3;
  border-radius: 50%;
  font-size: 2.5em;
  padding: 15px;
}  

/* Contact */ 
.contact-details {
  margin-top: 40px;
}
.contact-details img {
  max-width: 80px;
  background-color: #000;
}
.contact-form .btn {
  padding: 25px 100px;
  line-height: 0px;
  margin: 20px 0;
}
.contact-map {
  width: 100%;
  height: 500px;
  background: linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.4)),url(/assets/img/gray-google-map.jpg);
}

.contact-details i {
  display: inline-block;
  border: 2px solid #808aa3;
  border-radius: 50%;
  padding: .25em;
  font-size: 2.5em;
  margin-bottom: 15px;
}

/* FAQ */
.fixed-action-btn {
  top: 200px;
  right: 7%;
}

/* signin */

.signin-box{
  -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.14);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.14);
  margin: 30px 0;
}
.signin-form{
  padding:25px 15px 15px;
}
.signin-submit{
  height:45px;
}
.divider-text{
  padding-top: 15px;
}
.login-img{
  width: 25px;
  height: 25px;
  margin-bottom: -8px;
}

/* signup*/ 
.signup-box{
  -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.14);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.14);
  margin: 30px 0;
}
.select-box{
  border: thin solid #9e9e9e;
  padding-left:10px;
  height: 48px;
}
#billing-check + label {
  margin: 0px;
}
#billing.hidden{
  display: none;
}
.hidden-billing{
  display: inline-block;
  margin-top:35px;
}

/* horizontal line between text */ 
p.line {
    overflow: hidden;
    text-align: center;
}
p.line:before,
p.line:after {
    background-color: #9e9e9e;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
p.line:before {
    right: 0.5em;
    margin-left: -50%;
}
p.line:after {
    left: 0.5em;
    margin-right: -50%;
}

.login-social-box{
  border: thin solid #9e9e9e;
  padding: 10px;
  width:100%;
  /*text-align: center;*/
  margin-bottom: 15px;
}
.login-social-text{
  color:#808aa3;
}

/* produccts */
.adspace{
    border: thin solid #9e9e9e;
    margin-top: 15px;
    padding: 150px 0;
}
.prod-search{
  width:100%;
}
.prod-search-btn{
  display: inline;
  padding-right:20px;
  font-size:30px;
}
.prod-sort{
  width: 25%;
  margin-right: 10px;
  border: thin solid #808aa3;
  padding-left:0px;
  height:50px;
}
.product-item{
  margin-top: 10px;
}
.prod-model{
  font-size: 16px;
}
/*product details*/ 
.productd-header-price{
  font-size: 24px;
}

.prod-desc-text{
  padding-top:20px;

}
/* Media Queries */

@media only screen and (max-width: 480px) {
  .service-content .wrapper .header h4 {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 767px) {

}

@media only screen and (min-width: 600px) {
  .assignment-status .content-area-container, .promotion-status .content-area-container {
      padding-bottom:100%;
  }

  .demographic-display-label-item {
    margin-top: 0px;
  }
  p.rbtn {
    display: inline-block;
    padding: 20px;
  }

  .hero .owl-carousel .owl-item img {
    height: 100vh;
  }

  .hero-item-blank .item.first, .hero-item-blank .item.third {
    border-right: 1px solid #bdbdbd;
  }
}

@media only screen and (min-width: 768px) {
  .content-area {
    padding-top: 50px;
    padding-bottom: 20px;
  }

  .assignment-action-panel, .promotion-action-panel {
    margin-top: 20px;
  }

  .service-content .wrapper .header img {
    max-width: 80px;
  }

  .service-content .wrapper {
      margin-left: 50px;
  }

  .single-material-item .items-point-container {
    margin-top: 70px;
  }
}

@media only screen and (min-width: 993px) {
  nav {
    height: 90px;
  }

  nav .logo img {
    max-height: 100px;
    margin-left: -50px;
  }

  .container {
    width: 85%;
  }

  .service-single img {
    max-width: 40px;
  }

  .service-single p {
    font-size: 1em;
  }

  .package-item.pleft {
    margin-left: 0;
    float: left;
  }

  .package-item.pright {
    margin-right: 0;
    float: right;
  }

  .package-item.pcenter {
    margin: 0 auto;
  }

  .hero-item-blank .item.second {
    border-right: 1px solid #bdbdbd;
  }

  .desktop-only {
    display: block;
  }

  .single-material-item.first {
    border-top: 1px solid #828284;
    padding-top: 50px;
  }

  footer.page-footer .footer-main .sitemap ul {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
    margin-left: 50px;
  }

  footer.page-footer .footer-main .sitemap {
    text-align: left;
    padding-bottom: 0px;
    border-bottom: 0px;
  }

  footer.page-footer .footer-main .social {
    text-align: left;
    padding-bottom: 0px;
    padding-top: 0px;
    border-bottom: 0px;
  }

  footer.page-footer .footer-main .details {
    padding-top: 0px;
  }

  footer.page-footer .footer-copyright ul li {
    display: inline-block;
    padding: 0 10px;
  }
}

@media only screen and (min-width: 1200px) {
  nav .logo img {
    margin-left: 0px;
  }

  .fixed-action-btn {
    right: 10%;
  }
  .content-area {
    padding-top: 80px;
    padding-bottom: 20px;
  }
  .service-single p {
    font-size: 1.1em;
  }
}

@media only screen and (min-width: 1720px) {
  .fixed-action-btn {
    right: 12%;
  }
}