@import url(https://fonts.googleapis.com/css?family=Lato:400,900|Oxygen:400,700,300|Courgette);
/*  Main CSS */
* {
    margin: 0;
    padding: 0px;
}
html {
  position: relative;
  min-height: 100%;
}
body {
    background: #f5f5f5;
    margin: 0;
    height: 100%;
    color: #2C2C2C;
    font-family: "proxima-nova",sans-serif;
    font-weight: 400;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
}
p {
    padding: 0;
    margin-bottom: 12px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #2C2C2C;
    margin-top: 10px;
}
/* img {
    height: auto;
    max-width: 100%;
} */

label.error {
    display: none !important;
}
a {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #2C2C2C;
    -webkit-transition: background-color .4s linear, color .4s linear;
    -moz-transition: background-color .4s linear, color .4s linear;
    -o-transition: background-color .4s linear, color .4s linear;
    -ms-transition: background-color .4s linear, color .4s linear;
    transition: background-color .4s linear, color .4s linear;
}

a:hover, a:focus {
    text-decoration: none;
    color: #F15B5A;
}

.side-nav a.btn-link {
  margin: 10px;
}

:: -moz-selection {
    color: #fff;
    text-shadow: none;
    background: #2B2E31;
}
:: selection {
    color: #fff;
    text-shadow: none;
    background: #2B2E31;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
.center {
    text-align: center;
}
/*  ################################################################
    BOOTSTRAP MODIFICATIONS & TWEAKS
################################################################# */
}
.mtb80 {
    margin-top: 80px;
    margin-bottom: 80px;
}
.mtb100 {
    margin-top: 100px;
    margin-bottom: 100px;
}
.mtop10 {
    margin-top: 10px;
}
.mtop20 {
    margin-top: 20px;
}
.mtop30 {
    margin-top: 30px;
}
.mtop40 {
    margin-top: 40px;
}
.mtop50 {
    margin-top: 50px;
}
.mtop100 {
    margin-top: 100px;
}
.mbtm10 {
    margin-bottom: 10px;
}
.mbtm20 {
    margin-bottom: 20px;
}
.mbtm30 {
    margin-bottom: 30px;
}
.mbtm50 {
    margin-bottom: 50px;
}
.mbtm60 {
    margin-bottom: 60px;
}
.full-width {
    width: 100%;
}
.full-height {
    height: 100%;
}
.hline {
    border-bottom: 2px solid #2C2C2C;
}
.hline-w {
    border-bottom: 2px solid #ffffff;
    margin-bottom: 25px;
}
.carousel-indicators {
    top: 70px;
}
.carousel-indicators li {
    height: 20px;
    width: 20px;
    background-color: #808080;
}
.carousel-indicators .active {
    height: 20px;
    width: 20px;
    border: 4px solid #f66153;
    background-color: transparent;
}
.verticalline {
  position: absolute;
  width: 2px;
  background-color: black;
  height: 20px;
  margin-top: -15px;
}
.no-margin {
  margin: 0;
}
.no-shadow {
  box-shadow: none;
}
.bottom-shadow {
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.16),0 5px 10px 0 rgba(0,0,0,0.12)
}

/* Everything Else */
.top-bar {
  height: 60px;
  background-color: rgba(242, 242, 242, 0.71);
}
.top-bar ul {
  line-height: 60px;
}
.top-bar ul li {
  display: inline-block;
  margin: 0 10px;
}
.top-bar ul li a {
  font-weight: 600;
  color: #2f3080;
}
nav {
  background-color: rgba(242, 242, 242, 0.71);
  height: 90px;
}
nav a {
  color: #000;
}
nav .logo {
    position: relative;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}
nav .logo img {
}
nav ul {
  line-height: 85px;
}
nav ul li a {
  color: #2f3080;
  font-size: 1.3em;
  text-transform: uppercase;
}
nav ul li a:hover {
  background-color: transparent;
}
nav ul li.active {
  background-color: transparent;
}
nav ul li.active a {
  border-bottom: 5px solid #F15B5A;
}
footer.page-footer {
  margin-top: 0;
}
.btn {
  color: #000;
}

/* Accent Colors*/
.btn-border {
  border: 2px solid #2f3080;
  padding: 8px 30px;
}
.btn-link{
    background-color: #ffd600;
}
.btn-link:hover, .btn-link:focus {
    color: #000;
    background-color: #F15B5A;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
}
.btn-facebook{
  color: #f7f7f7;
  background-color: #3b5998;
}
.btn-facebook:hover, .btn-facebook:focus {
  color: #f7f7f7;
  background-color: #F15B5A;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
}
.link-minimal {
  background-color: #ffd600;
  display: inline-block;
  padding: 0 10px;
  line-height: 30px;
  border-radius: 2px;
  text-align: center;
}
footer.page-footer {
    background-color: #222222;
}
footer.page-footer .footer-main {
  padding: 20px;
  min-height: 250px;
}
footer.page-footer .footer-main .google-download {
  text-align: center;
}
footer.page-footer .footer-main .apple-download {
  text-align: center;
}
footer.page-footer .footer-main .google-download img {
  max-height: 65px;
  max-width: 100%;
}
footer.page-footer .footer-main .apple-download img {
  max-height: 65px;
  max-width: 100%;
}
footer.page-footer .footer-main p {
  font-size: 1.2em;
  padding-bottom: 20px;
}
footer.page-footer .footer-main p img {
  max-height: 150px;
  max-width: 100%;
}
footer.page-footer .footer-main ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
footer.page-footer .footer-main ul li {
  padding: 5px 0;
}
footer .footer-totop {
  position: absolute;
  width: 80px;
  text-align: center;
  top: 40px;
  right: 30px;
}
footer .footer-totop a {
  color: #fff;
  font-size: 2.5em;
}
footer .footer-totop .totop-link {
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  border-radius: 50%;
}
footer .footer-totop .totop-link i {
  display: block;
  margin-top: 4px;
}
footer .footer-follow {
  color: #fff;
  width: 40%;
  margin: 0 auto;
  text-align: center;
  padding-top: 10px;
}
footer .footer-follow ul li {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  margin: 0 20px;
  font-size: 1.3em;
}
footer .footer-follow ul li i{
  display: block;
  margin-top: 12px;
}
footer .footer-follow p {
  color: #fff;
  padding: 15px;
}
footer.page-footer .footer-copyright {
  height: 200px;
  background-color: #323232;
  position: relative;
}

.toast.success, .alt-badge.success {
  background-color: #00c853;
}

.toast.error, .alt-badge.error {
  background-color: #d50000;
}

.toast.warning, .alt-badge.warning {
  background-color: #ffab00;
}

.toast.info, .alt-badge.info {
  background-color: #0091ea;
}

/* Media Queries */

@media only screen and (max-width: 480px) {

}

@media only screen and (max-width: 767px) {

}

@media only screen and (min-width: 600px) {
  .assignment-status .content-area-container, .promotion-status .content-area-container {
      padding-bottom:100%;
  }

  .demographic-display-label-item {
    margin-top: 0px;
  }
  p.rbtn {
    display: inline-block;
    padding: 20px;
  }
}

@media only screen and (min-width: 768px) {
    .content-area {
        padding-top: 50px;
        padding-bottom: 20px;
    }
    .assignment-action-panel, .promotion-action-panel {
        margin-top: 20px;
    }
    .fixed-action-btn {
        top: 100px;
        right: 9%;
    }
}

@media only screen and (min-width: 993px) {
    .fixed-action-btn {
        right: 17%;
    }
}

@media only screen and (min-width: 1200px) {
    .content-area {
        padding-top: 80px;
        padding-bottom: 20px;
    }
}