/*  Main CSS */
* {
    margin: 0;
    padding: 0px;
}
html {
  position: relative;
  min-height: 100%;
}
body {
    background: #fff;
    margin: 0;
    height: 100%;
    color: #808aa3;
    font-family: "proxima-nova",sans-serif;
    font-weight: 400;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
  flex: 1 0 auto;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'proxima-nova', sans-serif;
}
p {
    padding: 0;
    margin-bottom: 12px;
    font-family: 'proxima-nova', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #808aa3;
    margin-top: 10px;
}
/* img {
    height: auto;
    max-width: 100%;
} */

label.error {
    display: none !important;
}
a {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #f06464;
    -webkit-transition: background-color .4s linear, color .4s linear;
    -moz-transition: background-color .4s linear, color .4s linear;
    -o-transition: background-color .4s linear, color .4s linear;
    -ms-transition: background-color .4s linear, color .4s linear;
    transition: background-color .4s linear, color .4s linear;
}

a:hover, a:focus {
    text-decoration: none;
    color: #F15B5A;
}

.side-nav a.btn-link {
  margin: 10px;
}

:: -moz-selection {
    color: #fff;
    text-shadow: none;
    background: #2B2E31;
}
:: selection {
    color: #fff;
    text-shadow: none;
    background: #2B2E31;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
.center {
    text-align: center;
}
.clearfix:after {
    content:"";
    display:block;
    clear:both;
}
.grey-theme-text {
  color: #808aa3;
}
.blue-theme-text {
  color: #2f3080;
}
.lightblue-theme-text {
  color: #3d9ff9;
}

/*  ################################################################
    BOOTSTRAP MODIFICATIONS & TWEAKS
################################################################# */
}
.mtb80 {
    margin-top: 80px;
    margin-bottom: 80px;
}
.mtb100 {
    margin-top: 100px;
    margin-bottom: 100px;
}
.mtop10 {
    margin-top: 10px;
}
.mtop20 {
    margin-top: 20px;
}
.mtop30 {
    margin-top: 30px;
}
.mtop40 {
    margin-top: 40px;
}
.mtop50 {
    margin-top: 50px;
}
.mtop100 {
    margin-top: 100px;
}
.mtop200 {
    margin-top: 200px;
}
.mbtm10 {
    margin-bottom: 10px;
}
.mbtm20 {
    margin-bottom: 20px;
}
.mbtm30 {
    margin-bottom: 30px;
}
.mbtm50 {
    margin-bottom: 50px;
}
.mbtm60 {
    margin-bottom: 60px;
}
.full-width {
    width: 100%;
}
.full-height {
    height: 100%;
}
.hline {
    border-bottom: 2px solid #2C2C2C;
}
.hline-w {
    border-bottom: 2px solid #ffffff;
    margin-bottom: 25px;
}
.carousel-indicators {
    top: 70px;
}
.carousel-indicators li {
    height: 20px;
    width: 20px;
    background-color: #808080;
}
.carousel-indicators .active {
    height: 20px;
    width: 20px;
    border: 4px solid #f66153;
    background-color: transparent;
}
.verticalline {
  position: absolute;
  width: 2px;
  background-color: black;
  height: 20px;
  margin-top: -15px;
}
.no-margin {
  margin: 0;
}
.no-shadow {
  box-shadow: none;
}
.bottom-shadow {
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.16),0 5px 10px 0 rgba(0,0,0,0.12)
}

/* Everything Else */
.top-bar {
  height: 60px;
  background-color: #fff;
}
.top-bar ul {
  line-height: 60px;
}
.top-bar ul li {
  display: inline-block;
  margin: 0 10px;
}
.top-bar ul li a {
  font-weight: 600;
  color: #2f3080;
}
nav {
  background-color: #fff;
  height: 90px;
}
nav a {
  color: #000;
}
nav .logo {
    position: relative;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}
nav .logo img {
}
nav ul {
  line-height: 85px;
}
nav ul li a {
  color: #2f3080;
  font-size: 1em;
  text-transform: uppercase;
}
nav ul li a:hover {
  background-color: transparent;
}
nav ul li.active {
  background-color: transparent;
}
nav ul li.active a {
  border-bottom: 5px solid #F15B5A;
}
header {
  z-index: 2;
}
footer.page-footer {
  margin-top: 0;
}
.btn {
  color: #000;
}

/* Main Page */
.hero {
  color: #fff;
  min-height: 720px;
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000;
  margin-top: -190px;
}

.hero p {
  font-size: 1.5em;
}

.hero-text {
  position: absolute;
  text-align: center;
  z-index: 2;
  width: 100%;
  margin-top: 300px;
}

.hero-text h1 {
  font-weight: 700;
}

.hero-text p {
  font-family: Arial, sans-serif;
}

.hero-downwards {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align:center;
  margin-bottom: 20px;
}

.hero .owl-stage-outer {
  z-index: -1;
}

.hero .owl-dots {
    position: absolute;
    z-index: 1;
    right: 0;
    margin-right: 50px;
    bottom: 0;
    margin-bottom: 30px;
}

.hero .owl-theme .owl-dots .owl-dot span {
  background: #676767;
  margin: 5px 2.5px;
}

.hero .owl-theme .owl-dots .owl-dot.active span, .hero .owl-theme .owl-dots .owl-dot:hover span {
  background: #3D9FF9;
}

.hero-item-blank {
  background: #fff;
  background-position: center;
  text-align: center;
  padding: 30px;
}

.hero-item-blank .item-text h3{
  color: #828284;
  text-transform: uppercase;
}

.hero-item-blank .item-text p {
  color: #3D9FF9;
  text-transform: uppercase;
  font-size: 1.2em;
}

.hero-item-blank .owl-carousel .owl-item img {
  width: 72px;
  height: 72px;
  margin: 0 auto;
}

.hero-item-blank .item h5 {
    color: #828284;
    font-weight: 300;
}

.hero-item-blank .item p {
    color: #3D9FF9;
    font-family: Arial, sans-serif;
}

.hero-item-blank .item.line {
  border-right: 1px solid #bdbdbd;
}

.hero-item-blank .btn-border {
  border: 2px solid #bdbdbd;
  color: #757575;
}

.hero-item-blank-signup {
  padding: 20px;
}

.hero-item-blank .owl-stage-outer {
  z-index: -1;
}
.hero-item-blank .owl-dots {
  margin: 30px 0;
}

.hero-item-blank .owl-theme .owl-dots .owl-dot span {
  background: transparent;
  border: 2px solid #676767;
  margin: 5px 2.5px;
}

.hero-item-blank .owl-theme .owl-dots .owl-dot.active span, .hero-item-blank .owl-theme .owl-dots .owl-dot:hover span {
  background: #3D9FF9;
  border: none;
}

.hero-item-blank .owl-carousel .owl-nav .owl-prev {
  position: absolute;
  top: 0;
  margin-top: 60px;
}

.hero-item-blank .owl-carousel .owl-nav .owl-next {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 60px;
}

#owl-item {
  padding-top: 30px;
}

#owl-clients {
  padding-top: 30px;
}

.hero-item-1 {
  position: relative;
  background-position: center;
  text-align: center;
}

.hero-item-1 .parallax-content-container {
  position: absolute;
  top: 0;
  width: 100%;
}

.hero-item-1 h3 {
  margin: 0;
  padding-top: 50px;
  text-transform: uppercase;
  color: #fff;
}

.hero-item-1 .item h4 {
  color: #fff;
}
.hero-item-1 .item hr {
  border: 3px solid #fff;
  width: 60px;
  margin: 0 auto;
}
.hero-item-1 .item p {
  color: #fff;
  font-size: 1.1em;
  font-weight: 300;
  margin-top: 15px;
}

.hero-item-2 {
  position: relative;
  background-position: center;
  text-align: center;
}

.hero-item-2 .parallax-content-container {
  position: absolute;
  top: 0;
  width: 100%;
  margin-top: 80px;
}

.hero-item-2 h1 {
  margin: 0;
  padding-top: 50px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
}

.hero-item-2 h4 {
  margin: 0;
  color: #fff;
  padding-top: 10px;
  font-family: Arial, sans-serif;
}

.hero-item-2-learnmore {
  margin-top: 70px;
}

.hero-item-2-learnmore .btn-border {
  border: 2px solid #fff;
  color: #fff;
}

/* About Page */
#about-header-img {
  width: 100%;
  height: 720px;
  background: linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.4)),url(/assets/img/about/about-banner.jpg);
}

.slider-projects {
  background-color: #676767;
}

.slider-projects-header {
  color: #fff;
  font-size: 1.4em;
  text-transform: uppercase;
}

.slider-projects-subs {
  color: #fff;
  font-size: 1.0em;
  text-transform: uppercase;
}

.slider-projects .prev,.slider-projects .next {
  color: white;
  cursor: pointer;
}

.hero-item-blank.projects .owl-stage-outer .owl-item {
  margin-right: 10px !important;
}

.hero-item-blank.projects .owl-carousel .owl-item img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

/* Services Page */
#services-header-img {
  width: 100%;
  height: 720px;
  background: linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.4)),url(/assets/img/services/services-banner.jpg);
}

.service-sidebar a:hover .service-single {
  background-color: #3d9ff9;
}

.service-sidebar a:hover .service-single p {
  color: #fff;
}

.service-single {
  border-bottom: 1px solid #828284;
  position: relative;
  padding: 5px 10px;
}

.service-single img {
  max-width: 50px;
  margin-right: 13px;
  vertical-align: middle;
}

.service-single p {
  color: #828284;
  font-size: 1.1em;
  display: inline-block;
}

.grayscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.appointment-cta {
  border: 1px solid #828284;
}

.appointment-cta .cta-container {
  width: 100%;
}

.appointment-cta .cta-header {
  color: #828284;
  font-size: 1.2em;
  font-weight: 300;
  text-align: center;
}

.appointment-cta img {
  display: block;
  margin: 0 auto;
  margin-top: 60px;
}

.appointment-cta .cta-book {
  text-align: center;
  margin-top: 20px;
  color: #828284;
  font-size: 1em;
}

.appointment-cta a {
  display: table;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 50px;
  padding: 10px 30px;
}

.service-content .wrapper {
  margin-left: 50px;
}

.service-content .wrapper .header img {
  max-width: 80px;
  vertical-align: middle;
}

.service-content .wrapper .header h4 {
  display: inline-block;
}

.service-content .wrapper .body {
  margin-left: 20px;
  margin-top: 20px;
}

.service-content .wrapper .body .table .full-border {
  border: 1px solid #828284;
  padding: 20px;
}

.service-content .wrapper .body .table .border-left-none {
  border-left: none;
}

.service-content .wrapper .body .table .border-right-none {
  border-right: none;
}

.service-content .wrapper .body .table .border-top-none {
  border-top: none;
}

.service-content .wrapper .body .table .border-bottom-none {
  border-bottom: none;
}

.service-content .wrapper .body .table .bottom-border {
  border-bottom: 1px solid #828284;
  padding: 20px;
}

.service-content .wrapper .body .scope ul li {
  padding: 10px 0;
  color: #828284;
}

.service-content .wrapper .body .scope ul li i {
  margin-right: 10px;
}

/* Packages Page */
.blank-hero .hero-text {
  position: absolute;
  text-align: center;
  z-index: 2;
  width: 100%;
  margin-top: 250px;
}

.blank-hero {
  color: #fff;
  min-height: 380px;
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #fff;
  margin-top: -190px;
}

.blank-hero .hero-text p {
  font-family: Arial, sans-serif;
  font-size: 1.2em;
}

.packages-item-container {
  background: #fff;
  width: 100%;
  border-top: 1px solid #828284;
}

.package-item {
  border: 1px solid #828284;
  padding: 40px 70px;
  cursor: pointer;
  max-width: 430px;
}

.package-item.pleft {
  margin-left: 0;
  float: left;
}

.package-item.pright {
  margin-right: 0;
  float: right;
}

.package-item.pcenter {
  margin: 0 100px;
}

.package-item:hover {
  background-color: #3d9ff9;
}

.package-item:hover p {
  color: #fff;
}

.package-item p {
  color: #828284;
  font-size: 1.5em;
}

.package-item .item-header {
  color: #3d9ff9;
}
.packages-cta-container ul {
  margin: 30px;
}
.packages-cta-container ul li {
  list-style-type: disc;
  color: #828284;
}
.packages-cta-container .btn {
  margin: 0 auto;
  padding: 10px 80px;
  text-transform: uppercase;
}

/* Materials Page */
#materials-header-img {
  width: 100%;
  height: 720px;
  background: linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.4)),url(/assets/img/materials/materials-banner.jpg);
}

.materials-cta-container ul {
  display: table;
  width: 100%;
}

.materials-cta-container ul li {
  display: table-cell;
  width: 11%;
}

.materials-cta-container ul li img {
  display: block;
  margin: 0 auto;
}

.materials-cta-container p {
  text-align: center;
}
.materials-items-container .item-point .point-content {
  display: inline-block;
  margin-left: 20px;
}
.materials-items-container .item-point .point-content .point-header {
  color: #828284;
}
.materials-items-container .item-point .point-content .point-body {
  color: #3d9ff9;
}

.single-material-item {
  border-top: 1px solid #828284;
  padding-top: 50px;
}

.single-material-item h4 {
  font-weight: 700;
}

.single-material-item .progress {
  background-color: transparent;
  height: 35px;
  border-radius: 0;
}

.single-material-item .aie-progress {
  color: #fff;
  width: 70%;
  text-align: right;
  padding-right: 20px;
  line-height: 35px;
}

.single-material-item .competitor-progress {
  color: #fff;
  width: 60%;
  text-align: right;
  padding-right: 20px;
  line-height: 35px;
}

.single-material-item .owl-carousel .owl-item img {
  padding: 30px;
}

.single-material-item .owl-theme .owl-dots .owl-dot span {
  background: transparent;
  border: 2px solid #676767;
  margin: 5px 2.5px;
}

.single-material-item .owl-theme .owl-dots .owl-dot.active span, .single-material-item .owl-theme .owl-dots .owl-dot:hover span {
  background: #3D9FF9;
  border: none;
}

/* Accent Colors*/
.btn {
  font-weight: 300;
}
.btn-border {
  border: 2px solid #2f3080;
  padding: 8px 30px;
}
.btn-theme{
  color: #fff;
  background-color: #F15B5A;
  text-transform: none;
  box-shadow: none;
}
.btn-theme:hover, .btn-theme:focus {
  color: #fff;
  background-color: #F15B5A;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
}
.btn-floating-theme{
  color: #fff;
  background-color: #3d9ff9;
  text-transform: none;
  box-shadow: none;
}
.btn-floating-theme:hover, .btn-floating-theme:focus {
  color: #fff;
  background-color: #3d9ff9;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
}
.btn-table-fat {
  display: table;
  padding-top: 5px;
  padding-bottom: 5px;
}
.btn-table-fat:hover, .btn-table-fat:focus {
  color: #fff;
  background-color: #F15B5A;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
}
.btn-fat {
  padding-top: 5px;
  padding-bottom: 40px;
}
.btn-fat:hover, .btn-fat:focus {
  color: #fff;
  background-color: #F15B5A;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
}
.btn-link-fat {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
}
.btn-link-fat:hover, .btn-link-fat:focus {
  color: #fff;
  background-color: #F15B5A;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
}
.link-minimal {
  background-color: #ffd600;
  display: inline-block;
  padding: 0 10px;
  line-height: 30px;
  border-radius: 2px;
  text-align: center;
}
footer.page-footer {
    background-color: #616161;
}
footer.page-footer .footer-main {
  padding: 20px;
  min-height: 250px;
}
footer.page-footer .footer-main h5 {
  color: #fff;
  padding-bottom: 20px;
}
footer.page-footer .footer-main p {
  color: #fff;
  padding-bottom: 20px;
}
footer.page-footer .footer-main p img {
  max-height: 150px;
  max-width: 100%;
}
footer.page-footer .footer-main ul {

}
footer.page-footer .footer-main ul li {
  padding: 15px 0;
  text-transform: uppercase;
}

footer.page-footer .footer-main ul li a {
  color: #fff;
  font-weight: 300;
}

footer.page-footer .footer-main .social li {
  display: inline-block;
  padding: 0 5px;
}

footer.page-footer .footer-main .social li a{
  border: 2px solid #fff;
  font-size: 2em;
  padding: 5px 10px;
}

footer.page-footer .footer-main .details li {
  padding: 20px 0;
}

footer.page-footer .footer-main .details li .content{
  display: inline-block;
  position: absolute;
  margin-left: 20px;
  margin-top: 5px;
}

footer.page-footer .footer-main .details li p {
  padding: 0;
  margin: 0;
}

footer.page-footer .footer-main .details li img {
  max-height: 50px;
  display: inline-block;
}
footer.page-footer .footer-copyright {
  border-top: 1px solid #fff;
  margin: 0 15px;
  background-color: #616161;
  position: relative;
  padding-top: 5px;
}
footer.page-footer .footer-copyright p {
  color: #fff;
}
footer.page-footer .footer-copyright ul li {
  display: inline-block;
  padding: 0 10px;
}
footer.page-footer .footer-copyright ul li a{
  color: #fff;
}
.toast.success, .alt-badge.success {
  background-color: #00c853;
}

.toast.error, .alt-badge.error {
  background-color: #d50000;
}

.toast.warning, .alt-badge.warning {
  background-color: #ffab00;
}

.toast.info, .alt-badge.info {
  background-color: #0091ea;
}

/* FAQ */ 
input.input-box{
  border: thin solid #9e9e9e;
  padding-left:10px;
}
.faq{
  margin-bottom: 30px;
  -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.14);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.14);
}
.faq-header{
  color: #40c4ff;
  text-align: center;
}
.faq-qn-box{
  padding: 10px 40px 30px 40px;
  border-bottom: 1px solid #808aa3;
  color: #808aa3;
}
.faq-qn-label{
  font-size:14px;
  padding-top: 20px;
  color:#808aa3;
}
.faq-qn-ans{
  padding-top:20px;
}
.btn-circle {
  text-align: center;
  /*padding: 0 0 11px 0;*/
  font-size: 12px;
  line-height: 1.42;
}
.faq-top-btn.btn-circle{
  background-color: #fff;
  border: thin solid #808aa3;  
  color: #808aa3;
  width: 80px;
  height: 80px;
  border-radius: 45px;
  padding: 0 0 11px 0;
}
.faq-enq-btn.btn-circle{
  width: 50px;
  height: 50px;
  border-radius: 45px;
  padding: 0 0 1px 0;
  background-color: #3D9FF9;
  border: none;
  color: #fff;
  font-size: 28px;
  font-weight: 100;
  position: fixed;
  margin-top: -40px;
  margin-left: -55px;
}
i.faq-search-btn{
  color: #cdcdcd;
  font-size: 50px;
  margin-top: -40px;
  margin-right: 110px;
  padding-bottom:36px;
}
.modal.enq-modal{
  width:30%;
  max-height: 77%;
  
}

/* Contact */ 
/*.contact-img{
  width: 80px;
  height: 80px;
  border: thin solid red;
}*/

/* FAQ */
.fixed-action-btn {
  top: 300px;
  right: 7%;
}

/* signin */

.signin-box{
  -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.14);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.14);
  margin: 30px 0;
}
.signin-form{
  padding:25px 15px 15px;
}
.signin-submit{
  height:45px;
}
.divider-text{
  padding-top: 15px;
}
.login-img{
  width: 25px;
  height: 25px;
  margin-bottom: -8px;
}

/* signup*/ 
.signup-box{
  -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.14);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.14);
  margin: 30px 0;
}
.select-box{
  border: thin solid #9e9e9e;
  padding-left:10px;
  height: 48px;
}
/* horizontal line between text */ 
p.line {
    overflow: hidden;
    text-align: center;
}
p.line:before,
p.line:after {
    background-color: #9e9e9e;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
p.line:before {
    right: 0.5em;
    margin-left: -50%;
}
p.line:after {
    left: 0.5em;
    margin-right: -50%;
}

.login-social-box{
  border: thin solid #9e9e9e;
  padding: 10px;
  width:100%;
  /*text-align: center;*/
  margin-bottom: 15px;
}
.login-social-text{
  color:#808aa3;
}
/* Media Queries */

@media only screen and (max-width: 480px) {

}

@media only screen and (max-width: 767px) {

}

@media only screen and (min-width: 600px) {
  .assignment-status .content-area-container, .promotion-status .content-area-container {
      padding-bottom:100%;
  }

  .demographic-display-label-item {
    margin-top: 0px;
  }
  p.rbtn {
    display: inline-block;
    padding: 20px;
  }

  .fixed-action-btn {
    top: 250px;
    right: 9%;
  }
}

@media only screen and (min-width: 768px) {
    .content-area {
        padding-top: 50px;
        padding-bottom: 20px;
    }
    .assignment-action-panel, .promotion-action-panel {
        margin-top: 20px;
    }
    .fixed-action-btn {
      top: 280px;
    }
}

@media only screen and (min-width: 993px) {
    .fixed-action-btn {
        right: 17%;
    }
}

@media only screen and (min-width: 1200px) {
    .content-area {
        padding-top: 80px;
        padding-bottom: 20px;
    }
}